{
  "openapi": "3.0.1",
  "info": {
    "title": "Document360 Customer API",
    "description": "Document360 RESTful APIs let you integrate your documentation with your software — onboard readers, manage articles, automate publishing, and more.\n\nFull reference: [API Documentation](https://apidocs.document360.io/docs).\n\n## Authentication\nEvery request must include your API token in the `api_token` header. Generate tokens in the Document360 portal under **Settings → Knowledge base portal → API tokens**. Tokens are project-scoped and can be revoked at any time. The same token can be passed via the `api_token` query string for situations where headers are not configurable, but the header form is strongly preferred.\n\n## Project context\nMany endpoints implicitly resolve the project from the API token. When an endpoint requires explicit project context, pass the project identifier in the `ProjectId` header.\n\n## Identifiers — how to fetch them\nMost endpoints accept one or more identifiers as path, query, or body parameters. Use the discovery endpoints below to look them up programmatically rather than hard-coding values:\n\n| Identifier | What it is | Where to fetch it |\n| --- | --- | --- |\n| `projectVersionId` (a.k.a. workspaceId) | A workspace/version inside the project — content (articles, categories, languages) lives within one. | `GET /v2/projectversions` — returns all workspaces with their `id`. Required first to discover articles, categories, and languages. |\n| `categoryId` | A category in the category tree. | `GET /v2/projectversions/{projectVersionId}/categories` — returns the full category hierarchy with each category's `id`. |\n| `articleId` | An article inside a category. | `GET /v2/projectversions/{projectVersionId}/articles` — lists all articles in the workspace. Also available inside the categories tree response. |\n| `langCode` | Two-letter / locale code (`en`, `fr`, `de-DE`, `pt-BR`, …) of an article or category translation. | `GET /v2/language/{projectVersionId}` — returns the languages enabled for the workspace, including `code` and `name`. |\n| `versionNumber` | A specific version of an article or category translation. | `GET /v2/articles/{articleId}/{langCode}/versions` for articles, `GET /v2/categories/{categoryId}/{langCode}versions` for categories. |\n| `userId` (team account) | A portal user (team member). | `GET /v2/teams` — lists all team accounts with their `userId`. `GET /v2/teams/{userId}` returns full details for one. |\n| `groupId` (team) | A team account group. | `GET /v2/teams/groups`. |\n| `roleId` | A role assignable to team accounts. | `GET /v2/teams/roles`. |\n| `readerId` | A reader account (used for private docs / reader analytics). | `GET /v2/readers` — supports pagination and `searchEmail` filtering. |\n| `groupId` (reader) | A reader group. | `GET /v2/readers/groups`. |\n\n**Tip:** In the Document360 portal, the article and category IDs are visible in the URL when an item is open in the editor — e.g. `…/docs/<articleId>/edit/<langCode>`. `projectId` and `projectVersionId` are visible in **Settings → API tokens** and **Documentation → Workspaces** respectively.\n\n## Query parameter casing\nV1/V2 query parameters use **snake_case** on the wire (for example `search_email`, `exclude_readers`, `version_number`). The server transparently maps snake_case query keys to the camelCase parameter names you see in this specification, so either casing is accepted, but snake_case is the documented convention for V1/V2.\n\n## Response envelope\nAll responses are wrapped in a consistent envelope:\n\n- `success` (boolean) — `true` when the operation succeeded, `false` otherwise. Always check this before reading the payload.\n- `errors` (array) — populated when `success` is `false`. Each entry has a human-readable `description`.\n- `warnings` / `information` (arrays) — non-fatal advisories returned alongside a successful response.\n- `result` or `data` — the operation's payload (the property name depends on the endpoint).\n\nHTTP status codes follow standard semantics (`200` success, `400` validation/business error, `401` missing or invalid token, `403` plan/permission restriction, `404` not found, `429` rate-limited, `5xx` server error). For non-`200` responses the envelope still applies — inspect `errors[].description` for details.\n\n## Rate limits\nEndpoints are rate-limited per API token per project. When throttled, the server returns `429 Too Many Requests` along with `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers. Use exponential backoff with jitter and respect the `Retry-After` header on the response.\n\n## Versioning\nAll routes are prefixed with the API version: `/v1/...` and `/v2/...`. V1 and V2 are stable; V3 is in Beta. New endpoints and fields may be added without notice in V1/V2 — they will never be removed or renamed in a backwards-incompatible way.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://apihub.document360.io",
      "description": "Document 360 API Hub"
    },
    {
      "url": "https://apihub.us.document360.io",
      "description": "Document360 API Hub - US data center"
    },
    {
      "url": "https://apihub.{private_hosting}.document360.io",
      "description": "Private hosting - Please provide the subdomain name.",
      "variables": {
        "private_hosting": {
          "default": "domain",
          "description": "Sub domain for private hosting"
        }
      }
    }
  ],
  "paths": {
    "/v2/APIReferences/{apiReferenceId}/Logs": {
      "get": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Gets all API reference logs",
        "description": "The product of `page * resultsPerPage` is capped at 20 — only the last 20 logs are accessible.",
        "operationId": "getApiReferenceLogs",
        "parameters": [
          {
            "name": "apiReferenceId",
            "in": "path",
            "description": "The ID of the API reference whose logs to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0a39bfeb-90f8-4fb3-b37a-5838db6387f6"
          },
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "resultsPerPage",
            "in": "query",
            "description": "Number of log entries per page. Default: 5.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiReferenceLogsWrapResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for this endpoint. You can verify the individual logs in /v2/ApiReferences/{apiReferenceId}/Logs/{logId}.",
                    "value": {
                      "data": [
                        {
                          "logs_id": "33b5c7e-fcbe-4797-b144-1a7ca2508f44",
                          "user_name": "Peter Jone",
                          "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                          "title": "Import successful",
                          "modified_at": "2024-06-13T14:30:00",
                          "error_count": 12,
                          "alerts_count": 34
                        },
                        {
                          "logs_id": "5g25c7e-fcbe-4797-b144-1a7ca2843tv4",
                          "user_name": "Theresa May",
                          "user_id": "d71efc6f-e968-4e95-82eb-85ad6155984rf",
                          "title": "Import successful",
                          "modified_at": "2024-06-13T14:30:00",
                          "error_count": 12,
                          "alerts_count": 34
                        }
                      ],
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Inalid API reference ID": {
                    "summary": "Kindly ensure that the given API reference ID is valid.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Api reference not found.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found, or the supplied identifier does not exist in the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/v2/APIReferences/{apiReferenceId}/Logs/{logId}": {
      "get": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Gets errors and alerts of a log",
        "operationId": "getApiReferenceErrorAndWarningLogs",
        "parameters": [
          {
            "name": "apiReferenceId",
            "in": "path",
            "description": "The ID of the API reference.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0a39bfeb-90f8-4fb3-b37a-5838db6387f6"
          },
          {
            "name": "logId",
            "in": "path",
            "description": "The ID of the log entry. Fetch via `GET /v2/apireferences/{apiReferenceId}/Logs`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLogsDetailsResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for single API reference log.",
                    "value": {
                      "api_reference_errors": [
                        {
                          "message": "Declared path parameter \"contentId\" needs to be defined as a path parameter at either the path or operation level",
                          "pointer": "#/paths/~1v2~1Content~1{Id}~1version~1{contentCategoryId}/delete/parameters/2/in"
                        }
                      ],
                      "api_reference_alerts": [
                        {
                          "message": "Data and type mismatch found.",
                          "pointer": "#/paths/~1v2~1Content/{Id}/depete/response/200/content/application~1json/examples/Content"
                        }
                      ],
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid API reference ID": {
                    "summary": "Kindly ensure that the given API reference ID is valid.",
                    "value": {
                      "extension_data": null,
                      "success": true,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Api reference not found.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Invalid API reference log ID": {
                    "summary": "Kindly ensure that the given log Id is in the  API reference.",
                    "value": {
                      "extension_data": null,
                      "success": true,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Logs not found.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found, or the supplied identifier does not exist in the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/v2/APIReferences": {
      "post": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Imports the API reference spec file",
        "operationId": "addApiDocumentation",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ForceImport",
                  "ProjectVersionId",
                  "UserId"
                ],
                "type": "object",
                "properties": {
                  "ProjectVersionId": {
                    "type": "string",
                    "description": "The ID of the workspace (also called project version) to import into. Fetch via `GET /v2/projectversions`."
                  },
                  "UserId": {
                    "type": "string",
                    "description": "The ID of the team account performing the import. Fetch via `GET /v2/teams`."
                  },
                  "ForceImport": {
                    "type": "boolean",
                    "description": "When `true`, the spec is imported even if validation errors or alerts are present. When `false`, validation issues block the import.",
                    "default": true
                  },
                  "Url": {
                    "type": "string",
                    "description": "URL pointing to the OpenAPI/Swagger spec to import. Mutually exclusive with Document360.Core.Messages.Public.ApiDocumentation.ApiDocumentationImportRequestCustomer.File."
                  },
                  "File": {
                    "type": "string",
                    "description": "Uploaded OpenAPI/Swagger spec file (JSON or YAML). Mutually exclusive with Document360.Core.Messages.Public.ApiDocumentation.ApiDocumentationImportRequestCustomer.Url.",
                    "format": "binary"
                  }
                }
              },
              "examples": {
                "Add API reference request": {
                  "summary": "Import an API reference with projectVersionId, userId and a spec file url or a file type.",
                  "value": {
                    "project_version_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "user_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "force_import": true,
                    "url": "https://petstore.swagger.io/v2/swagger.json",
                    "file": null
                  }
                }
              },
              "encoding": {
                "ProjectVersionId": {
                  "style": "form"
                },
                "UserId": {
                  "style": "form"
                },
                "ForceImport": {
                  "style": "form"
                },
                "Url": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDocumentationImportResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for single API reference import with server variables.",
                    "value": {
                      "data": {
                        "categories_created": 23,
                        "articles_created": 23,
                        "api_reference_id": "9874c1d9-033f-484c-8e3e-c343301eae57",
                        "errors": [],
                        "alerts": []
                      },
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Success status Response with no server variables": {
                    "summary": "This is the sample response for single API reference import without server variables.",
                    "value": {
                      "data": {
                        "categories_created": 3,
                        "articles_created": 23,
                        "api_reference_id": "9874c1d9-033f-484c-8e3e-c343301eae57",
                        "errors": [],
                        "alerts": []
                      },
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [
                        {
                          "extension_data": null,
                          "description": "You may not be able to use try-it feature. Looks like server variables aren’t defined in your OpenAPI Specification file.",
                          "warning_code": null
                        }
                      ],
                      "information": []
                    }
                  },
                  "Success status Response for ForceImport as false": {
                    "summary": "This is the sample response for single API reference import with force import as false.",
                    "value": {
                      "data": {
                        "categories_created": 3,
                        "articles_created": 23,
                        "api_reference_id": "9874c1d9-033f-484c-8e3e-c343301eae57",
                        "errors": [
                          {
                            "message": "Declared path parameter 'contentId' needs to be defined as a path parameter at either the path or operation level",
                            "pointer": "#/paths/~1v2~1Content~1{Id}~1version~1{contentCategoryId}/delete/parameters/2/in"
                          }
                        ],
                        "alerts": [
                          {
                            "message": "Data and type mismatch found.",
                            "pointer": "#/paths/~1v2~1Content/{Id}/depete/response/200/content/application~1json/examples/Content"
                          }
                        ]
                      },
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Inalid project Version ID": {
                    "summary": "Kindly ensure that the given project version ID is valid.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The supplied project version id d2eafb73-ccb6-4d15-9c4a-959b3c232ddba does not exist in your project",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Inalid user ID": {
                    "summary": "Kindly ensure that the given user ID is valid.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de8a' does not exist in your project.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Maximum API Reference limit reached": {
                    "summary": "You had reached your maximum API reference limit, for continuing add a new version.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Unable to add API Reference: Maximum API Reference limit reached",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Supplied URL is invalid": {
                    "summary": "You have to provide a valid OAS spec file URL.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Invalid Url",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Can`t upload both the file and the URL": {
                    "summary": "You have to provide only a valid OAS spec file or a spec file URL.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "You can only upload URL or a spec file.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Supplied file type is invalid": {
                    "summary": "You have to upload a valid JSON or a YAML file.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Only YAML or JSON files are allowed.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      },
      "put": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Resyncs the API reference spec file",
        "description": "Resyncing overwrites the existing imported endpoint articles. Manually-authored articles are left untouched.",
        "operationId": "resyncApiDocumentation",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ApiReferenceId",
                  "ForceImport",
                  "ProjectVersionId",
                  "UserId"
                ],
                "type": "object",
                "properties": {
                  "ApiReferenceId": {
                    "type": "string",
                    "description": "The ID of the API reference to resync."
                  },
                  "ProjectVersionId": {
                    "type": "string",
                    "description": "The ID of the workspace (also called project version). Fetch via `GET /v2/projectversions`."
                  },
                  "UserId": {
                    "type": "string",
                    "description": "The ID of the team account performing the resync. Fetch via `GET /v2/teams`."
                  },
                  "ForceImport": {
                    "type": "boolean",
                    "description": "When `true`, the resync proceeds even if validation errors or alerts are present (and confirms deletions surfaced on a previous dry run). When `false`, validation issues block the resync.",
                    "default": true
                  },
                  "Url": {
                    "type": "string",
                    "description": "URL pointing to the OpenAPI/Swagger spec to resync from. Mutually exclusive with Document360.Core.Messages.Public.ApiDocumentation.ApiDocumentationResyncRequestCustomer.File."
                  },
                  "File": {
                    "type": "string",
                    "description": "Uploaded OpenAPI/Swagger spec file (JSON or YAML). Mutually exclusive with Document360.Core.Messages.Public.ApiDocumentation.ApiDocumentationResyncRequestCustomer.Url.",
                    "format": "binary"
                  }
                }
              },
              "examples": {
                "Resync API reference request": {
                  "summary": "Resync an API reference with specific apiReferenceId projectVersionId, userId and a spec file url or a file type.",
                  "value": {
                    "api_reference_id": "d2eafb73-ccb6-4d15-9c4a-959b3c232ddb",
                    "project_version_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "user_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "force_import": true,
                    "url": "https://petstore.swagger.io/v2/swagger.json",
                    "file": null
                  }
                }
              },
              "encoding": {
                "ApiReferenceId": {
                  "style": "form"
                },
                "ProjectVersionId": {
                  "style": "form"
                },
                "UserId": {
                  "style": "form"
                },
                "ForceImport": {
                  "style": "form"
                },
                "Url": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDocumentationResyncResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for single API reference resync with server variables.",
                    "value": {
                      "data": {
                        "errors": [],
                        "alerts": [],
                        "categories_created": 23,
                        "articles_created": 23,
                        "deleted_endpoints": null
                      },
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Success status Response with no server variables": {
                    "summary": "This is the sample response for single API reference resync without server variables.",
                    "value": {
                      "data": {
                        "errors": [],
                        "alerts": [],
                        "categories_created": 3,
                        "articles_created": 23,
                        "deleted_endpoints": null
                      },
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [
                        {
                          "extension_data": null,
                          "description": "You may not be able to use try-it feature. Looks like server variables aren’t defined in your OpenAPI Specification file.",
                          "warning_code": null
                        }
                      ],
                      "information": []
                    }
                  },
                  "Success status Response for ForceImport as false": {
                    "summary": "This is the sample response for single API reference resync with force import as false.",
                    "value": {
                      "data": {
                        "errors": [
                          {
                            "message": "Declared path parameter 'contentId' needs to be defined as a path parameter at either the path or operation level",
                            "pointer": "#/paths/~1v2~1Content~1{Id}~1version~1{contentCategoryId}/delete/parameters/2/in"
                          }
                        ],
                        "alerts": [
                          {
                            "message": "Data and type mismatch found.",
                            "pointer": "#/paths/~1v2~1Content/{Id}/depete/response/200/content/application~1json/examples/Content"
                          }
                        ],
                        "categories_created": 3,
                        "articles_created": 23,
                        "deleted_endpoints": null
                      },
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid project Version ID": {
                    "summary": "Kindly ensure that the given project version ID is valid.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The supplied project version id d2eafb73-ccb6-4d15-9c4a-959b3c232ddba does not exist in your project",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Invalid API reference ID": {
                    "summary": "Kindly ensure that the given API reference ID is valid.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Api reference not found.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Invalid user ID": {
                    "summary": "Kindly ensure that the given user ID is valid.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de8a' does not exist in your project.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Maximum API Reference limit reached": {
                    "summary": "You have reached your maximum API reference limit, for continuing add a new version.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Unable to add API Reference: Maximum API Reference limit reached",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Supplied URL is invalid": {
                    "summary": "You have to provide a valid OAS spec file URL.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Invalid Url",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Can`t upload both the file and the URL": {
                    "summary": "You have to provide only a valid OAS spec file or a spec file URL.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "You can only upload URL or a spec file.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Supplied file type is invalid": {
                    "summary": "You have to upload a valid JSON or YAML file.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Only YAML or JSON files are allowed.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Deletes an API reference",
        "operationId": "deleteApiReference",
        "parameters": [
          {
            "name": "projectVersionId",
            "in": "query",
            "description": "The ID of the workspace (also called project version). Fetch via `GET /v2/projectversions`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234"
          },
          {
            "name": "apiReferenceId",
            "in": "query",
            "description": "The ID of the API reference to delete.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0a39bfeb-90f8-4fb3-b37a-5838db6387f6"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteApiReferenceResponseCustomer"
                },
                "examples": {
                  "API reference deleted": {
                    "summary": "API reference is deleted successfully.",
                    "value": {
                      "data": [
                        {
                          "api_reference_id": "0a39bfeb-90f8-4fb3-b37a-5838db6387f6",
                          "details": "Successfully deleted"
                        }
                      ],
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid API reference": {
                    "summary": "Kindly verify that the API reference ID is valid and perform the task again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The supplied project version id 99f4b8d5-ccbd-41c9-8892-57c2fcf338d2 does not exist in your project.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/v2/APIReferences/publish": {
      "post": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Publishes an API reference",
        "operationId": "publishArticles",
        "requestBody": {
          "description": "Publish payload — `projectVersionId` (fetch via `GET /v2/projectversions`), `apiReferenceId`, and `userId` (fetch via `GET /v2/teams`).",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ],
                "description": "Payload for `POST /v2/apireferences/publish` — publishes the endpoint articles imported from an API reference."
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {
                    "api_reference_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ],
                "description": "Payload for `POST /v2/apireferences/publish` — publishes the endpoint articles imported from an API reference."
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {
                    "api_reference_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ],
                "description": "Payload for `POST /v2/apireferences/publish` — publishes the endpoint articles imported from an API reference."
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {
                    "api_reference_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8"
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ],
                "description": "Payload for `POST /v2/apireferences/publish` — publishes the endpoint articles imported from an API reference."
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {
                    "api_reference_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "API reference published successfully": {
                    "summary": "API reference has been successfully published. You can view the published endpoints in the KB site.",
                    "value": {
                      "extension_data": null,
                      "success": true,
                      "errors": null,
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid API reference ID": {
                    "summary": "Kindly verify the API reference ID and perform the task again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Invalid API reference",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Invalid project version ID": {
                    "summary": "Kindly verify the project version ID and perform the task again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The supplied project version id 'd2eafb73-ccb6-4d15-9c4a-959b3c232ddba' does not exist in your project",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "Invalid user ID": {
                    "summary": "Kindly verify the team account ID and perform the task again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de8a' does not exist in your project.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "All articles are already in published state.": {
                    "summary": "Since all the articles are already in a published state, they cannot be published again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "All articles are already in published state.",
                          "error_code": null,
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/v2/Articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets an article by URL",
        "description": "Resolves an article from its KB-site URL — useful when the integration only knows the public path, not the internal `articleId`.\r\nHonors any redirection rules configured for the article via `redirectionMode`. Use `0` (default) to ignore redirections, `1` to receive a 302 with the new URL, or `2` to silently follow the redirect.\r\nSafe to retry; idempotent.",
        "operationId": "getArticleByUrl",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The relative URL of the article (without domain). For example: \"/workspace/docs/en/article-slug\"",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "/v1/docs/en/getting-started"
          },
          {
            "name": "redirectionMode",
            "in": "query",
            "description": "Determines how the API handles redirection when a redirection rule is configured for the requested article, category, or document.\r\n- 0 - None – Returns the content of the originally requested resource without applying any redirection.\r\n- 1 - RedirectOnly – Returns an HTTP 302 response along with the redirected resource's URL, without fetching its content.\r\n- 2 - RedirectWithContent – Automatically follows the redirection rule and returns the content of the final redirected resource.",
            "schema": {
              "enum": [
                "none",
                "redirectOnly",
                "redirectWithContent"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/RedirectionMode"
                }
              ],
              "description": "Possible values: `\"none\"` = None, `\"redirectOnly\"` = RedirectOnly, `\"redirectWithContent\"` = RedirectWithContent",
              "default": 0,
              "x-enumNames": [
                "None",
                "RedirectOnly",
                "RedirectWithContent"
              ],
              "x-enum-varnames": [
                "None",
                "RedirectOnly",
                "RedirectWithContent"
              ],
              "x-ms-enum": {
                "name": "RedirectionMode",
                "modelAsString": true
              }
            }
          },
          {
            "name": "isForDisplay",
            "in": "query",
            "description": "Set this to true, if you are displaying the article to the end-user. If true, the content of snippets or variables appears in the article.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "isPublished",
            "in": "query",
            "description": "True: You will get the latest published version of the article. False: To get the latest version of the article.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "appendSASToken",
            "in": "query",
            "description": "Set this to false to exclude appending SAS token for images/files.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleByUrlResponse"
                }
              }
            }
          },
          "302": {
            "description": "Resource has been redirected. The `Location` header carries the new URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Export Documentation - 400 Status response.": {
                    "summary": "The below example shows that the given exportId is Invalid. Track your export Id form /v2/Project/Export.",
                    "value": {
                      "extension_data": null,
                      "success": true,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Invalid export id",
                          "error_code": "400",
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Export Documentation - 400 Status response.": {
                    "summary": "The below example shows that the given exportId is Invalid. Track your export Id form /v2/Project/Export.",
                    "value": {
                      "extension_data": null,
                      "success": true,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Invalid export id",
                          "error_code": "400",
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found, or the supplied identifier does not exist in the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Export Documentation - 400 Status response.": {
                    "summary": "The below example shows that the given exportId is Invalid. Track your export Id form /v2/Project/Export.",
                    "value": {
                      "extension_data": null,
                      "success": true,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Invalid export id",
                          "error_code": "400",
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      },
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Adds an article to an existing category",
        "description": "Creates a new article under the specified category in the workspace's default language. The returned `data.id` is the new article's `articleId` to use in subsequent calls.\r\nThe slug is auto-generated from the title unless an explicit `slug` is supplied; explicit slugs must be unique within the workspace.\r\n**Not idempotent** — retrying after a 5xx can create duplicates. Before retrying, list articles in the target category (`GET /v2/projectversions/{projectVersionId}/articles`) and check whether your new article already exists.",
        "operationId": "createArticle",
        "requestBody": {
          "description": "The article creation payload. The `categoryId` field is required (fetch via `GET /v2/projectversions/{projectVersionId}/categories`). When `contentType` is omitted, the project's default content type is used.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Minimal — Markdown article": {
                  "summary": "The smallest viable payload: title, content, and the destination category. The slug is auto-generated from the title; `contentType` defaults to the project's default editor.",
                  "value": {
                    "title": "Getting started with our SDK",
                    "content": "## Install\n\n`npm install @example/sdk`\n\n## Initialize\n\n```js\nconst client = new Client({ apiKey: 'YOUR_KEY' });\n```",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": null,
                    "editor_version": null,
                    "slug": null
                  }
                },
                "Block-editor article with explicit slug": {
                  "summary": "Create a Block-editor article with a custom slug and ordering. `contentType` is set explicitly to override the project default; `slug` must be unique within the workspace.",
                  "value": {
                    "title": "Configure single sign-on with Okta",
                    "content": "{\"blocks\":[{\"type\":\"heading\",\"data\":{\"level\":2,\"text\":\"Prerequisites\"}},{\"type\":\"paragraph\",\"data\":{\"text\":\"You need an Okta admin account…\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 5,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": null,
                    "slug": "configure-single-sign-on-with-okta"
                  }
                },
                "Editor 3.0 (Beta) article": {
                  "summary": "Opt the new article into Editor 3.0 (Beta) via `editorVersion`. Honoured only when the project is enabled for the Editor 3.0 beta; otherwise the request is rejected. Created as a Block-editor article.",
                  "value": {
                    "title": "Try the new editor",
                    "content": "{\"blocks\":[{\"type\":\"paragraph\",\"data\":{\"text\":\"Authored in Editor 3.0.\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": 3,
                    "slug": null
                  }
                },
                "WYSIWYG (HTML) article": {
                  "summary": "Create a WYSIWYG article. The `content` field carries HTML directly.",
                  "value": {
                    "title": "Release notes — Q4",
                    "content": "<p>This release introduces…</p>",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 1,
                    "editor_version": null,
                    "slug": null
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Minimal — Markdown article": {
                  "summary": "The smallest viable payload: title, content, and the destination category. The slug is auto-generated from the title; `contentType` defaults to the project's default editor.",
                  "value": {
                    "title": "Getting started with our SDK",
                    "content": "## Install\n\n`npm install @example/sdk`\n\n## Initialize\n\n```js\nconst client = new Client({ apiKey: 'YOUR_KEY' });\n```",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": null,
                    "editor_version": null,
                    "slug": null
                  }
                },
                "Block-editor article with explicit slug": {
                  "summary": "Create a Block-editor article with a custom slug and ordering. `contentType` is set explicitly to override the project default; `slug` must be unique within the workspace.",
                  "value": {
                    "title": "Configure single sign-on with Okta",
                    "content": "{\"blocks\":[{\"type\":\"heading\",\"data\":{\"level\":2,\"text\":\"Prerequisites\"}},{\"type\":\"paragraph\",\"data\":{\"text\":\"You need an Okta admin account…\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 5,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": null,
                    "slug": "configure-single-sign-on-with-okta"
                  }
                },
                "Editor 3.0 (Beta) article": {
                  "summary": "Opt the new article into Editor 3.0 (Beta) via `editorVersion`. Honoured only when the project is enabled for the Editor 3.0 beta; otherwise the request is rejected. Created as a Block-editor article.",
                  "value": {
                    "title": "Try the new editor",
                    "content": "{\"blocks\":[{\"type\":\"paragraph\",\"data\":{\"text\":\"Authored in Editor 3.0.\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": 3,
                    "slug": null
                  }
                },
                "WYSIWYG (HTML) article": {
                  "summary": "Create a WYSIWYG article. The `content` field carries HTML directly.",
                  "value": {
                    "title": "Release notes — Q4",
                    "content": "<p>This release introduces…</p>",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 1,
                    "editor_version": null,
                    "slug": null
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Minimal — Markdown article": {
                  "summary": "The smallest viable payload: title, content, and the destination category. The slug is auto-generated from the title; `contentType` defaults to the project's default editor.",
                  "value": {
                    "title": "Getting started with our SDK",
                    "content": "## Install\n\n`npm install @example/sdk`\n\n## Initialize\n\n```js\nconst client = new Client({ apiKey: 'YOUR_KEY' });\n```",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": null,
                    "editor_version": null,
                    "slug": null
                  }
                },
                "Block-editor article with explicit slug": {
                  "summary": "Create a Block-editor article with a custom slug and ordering. `contentType` is set explicitly to override the project default; `slug` must be unique within the workspace.",
                  "value": {
                    "title": "Configure single sign-on with Okta",
                    "content": "{\"blocks\":[{\"type\":\"heading\",\"data\":{\"level\":2,\"text\":\"Prerequisites\"}},{\"type\":\"paragraph\",\"data\":{\"text\":\"You need an Okta admin account…\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 5,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": null,
                    "slug": "configure-single-sign-on-with-okta"
                  }
                },
                "Editor 3.0 (Beta) article": {
                  "summary": "Opt the new article into Editor 3.0 (Beta) via `editorVersion`. Honoured only when the project is enabled for the Editor 3.0 beta; otherwise the request is rejected. Created as a Block-editor article.",
                  "value": {
                    "title": "Try the new editor",
                    "content": "{\"blocks\":[{\"type\":\"paragraph\",\"data\":{\"text\":\"Authored in Editor 3.0.\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": 3,
                    "slug": null
                  }
                },
                "WYSIWYG (HTML) article": {
                  "summary": "Create a WYSIWYG article. The `content` field carries HTML directly.",
                  "value": {
                    "title": "Release notes — Q4",
                    "content": "<p>This release introduces…</p>",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 1,
                    "editor_version": null,
                    "slug": null
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Minimal — Markdown article": {
                  "summary": "The smallest viable payload: title, content, and the destination category. The slug is auto-generated from the title; `contentType` defaults to the project's default editor.",
                  "value": {
                    "title": "Getting started with our SDK",
                    "content": "## Install\n\n`npm install @example/sdk`\n\n## Initialize\n\n```js\nconst client = new Client({ apiKey: 'YOUR_KEY' });\n```",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": null,
                    "editor_version": null,
                    "slug": null
                  }
                },
                "Block-editor article with explicit slug": {
                  "summary": "Create a Block-editor article with a custom slug and ordering. `contentType` is set explicitly to override the project default; `slug` must be unique within the workspace.",
                  "value": {
                    "title": "Configure single sign-on with Okta",
                    "content": "{\"blocks\":[{\"type\":\"heading\",\"data\":{\"level\":2,\"text\":\"Prerequisites\"}},{\"type\":\"paragraph\",\"data\":{\"text\":\"You need an Okta admin account…\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 5,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": null,
                    "slug": "configure-single-sign-on-with-okta"
                  }
                },
                "Editor 3.0 (Beta) article": {
                  "summary": "Opt the new article into Editor 3.0 (Beta) via `editorVersion`. Honoured only when the project is enabled for the Editor 3.0 beta; otherwise the request is rejected. Created as a Block-editor article.",
                  "value": {
                    "title": "Try the new editor",
                    "content": "{\"blocks\":[{\"type\":\"paragraph\",\"data\":{\"text\":\"Authored in Editor 3.0.\"}}]}",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 2,
                    "editor_version": 3,
                    "slug": null
                  }
                },
                "WYSIWYG (HTML) article": {
                  "summary": "Create a WYSIWYG article. The `content` field carries HTML directly.",
                  "value": {
                    "title": "Release notes — Q4",
                    "content": "<p>This release introduces…</p>",
                    "category_id": "5b291e6b-fa40-4ab9-941e-f8fffc23b376",
                    "project_version_id": "46f48bc7-760f-4b07-b2d2-fce4aa8ba234",
                    "order": 0,
                    "user_id": "f11efc6f-e968-4e95-82eb-85ad61559de8",
                    "content_type": 1,
                    "editor_version": null,
                    "slug": null
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Operation succeeded. Inspect the response envelope's `success` flag and the `result`/`data` payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateArticleResponse"
                },
                "examples": {
                  "Article Created Successfully": {
                    "summary": "The article has been created under the following category. you can use the article Id to view the article in the portal.",
                    "value": {
                      "data": {
                        "id": "925b69b9-f241-4d89-9e3e-208a98dfc8eb",
                        "title": "Sample Article",
                        "public_version": 0,
                        "latest_version": 1,
                        "language_code": null,
                        "hidden": false,
                        "status": 0,
                        "order": 3,
                        "slug": "sample-article",
                        "content_type": null,
                        "translation_option": 0,
                        "is_shared_article": false,
                        "created_at": null,
                        "modified_at": null,
                        "current_workflow_status_id": null
                      },
                      "extension_data": null,
                      "success": true,
                      "errors": [],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Inspect `errors[].description` for the offending fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "userId not found": {
                    "summary": "Kindly check your user Id and perform the task again. Find your user Id at /v2/Teams.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de81' does not exist in your project.",
                          "error_code": "400",
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "category_id not found": {
                    "summary": "Kindly check the category_id from /v2/ProjectVersions/{projectVersionId}/categories and perform the task again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "Unable to find specified parent category with an id 5b291e6b-fa40-4ab9-941e-f8fffc23b3761.",
                          "error_code": "400",
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "project_version_id not found": {
                    "summary": "Kindly check the project_version_id from /v2/ProjectVersions and perform the task again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The supplied project version id 46f48bc7-760f-4b07-b2d2-fce4aa8ba2349 does not exist in your project.",
                          "error_code": "400",
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  },
                  "title not found": {
                    "summary": "Kindly check the title is empty or null, and perform the task again.",
                    "value": {
                      "extension_data": null,
                      "success": false,
                      "errors": [
                        {
                          "extension_data": null,
                          "stack_trace": null,
                          "description": "The Title field is required.",
                          "error_code": "400",
                          "custom_data": null
                        }
                      ],
                      "warnings": [],
                      "information": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — the `api_token` header is missing, malformed, or has been revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this api_token. Wait for the duration in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current rate-limit window resets.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          }
        ]
      }
    },
    "/v2/Articles/{articleId}/{langCode}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets an article",
        "description": "Returns one article translation. The response carries article body, metadata, available languages, security visibility, and any configured custom fields.\r\nUse `isForDisplay=true` only when rendering for end users (resolves snippet, variable, and glossary merge codes). Do not send the resolved content back to update endpoints.\r\nTo resolve an article from its KB URL instead of its ID, use `GET /v2/articles` with the `url` query parameter.",
        "operationId": "getArticle",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article. Fetch via `GET /v2/projectversions/{projectVersionId}/articles`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1096061-e842-41fd-9085-494095e401b9"
          },
          {
            "name": "langCode",
            "in": "path",
            "description": "Language code of the article translation (for example `en`, `fr`, `de-DE`, `pt-BR`). Use `GET /v2/language/{projectVersionId}` to list the codes enabled for a workspace. Defaults to `en` when omitted.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "example": "en"
          },
          {
            "name": "isForDisplay",
            "in": "query",
            "description": "Set to `true` when rendering the article for an end-user — the response will resolve snippet, variable, and glossary merge codes. Do not pass `true` and then send the resolved content to an update endpoint.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "isPublished",
            "in": "query",
            "description": "When `true`, returns the latest published version (falls back to the latest draft if no published version exists). When `false`, returns the latest draft regardless of publish state.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "appendSASToken",
            "in": "query",
            "description": "Set to `false` to skip appending a SAS token to image/file URLs. SAS tokens are required for private/mixed projects.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
[...]
